{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Begin Stage 2 (Round {{round_number}})
{% endblock %}

{% block content %}

<p>
    In your group of three, please complete as many response cycles as you can in three minutes.
    You will earn <b>{{30|c}}</b> for every two correct response cycles.
</p>
<p>
    When you're ready, click Next to begin Stage 2 (Round {{round_number}}).
    The three minute timer will start when everyone in the group clicks Next.
</p>

{% next_button %}

{% endblock %}
