{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Stage 3
{% endblock %}

{% block content %}

<p>
    In Stage 3, you will continue the task with the reduced group of two workers.
    As in Stage 2, you will complete addition questions as a group.
</p>
<p>
    In Stage 3, you will earn <b>{{stage3_piecerate|c}}</b> for every
    <b>{{stage3_requiredcycles}} response cycles</b> your group completes.
    A response cycle is still <b>three addition questions</b> in a row, following
    the format ABA-BAB.
</p>
<p>
    As before, Stage 3 will consist of six rounds, and the first worker of the cycle will vary.
    You will again be timed.
</p>
<p>
    Click Next to begin Stage 3.
</p>

{% next_button %}

{% endblock %}
